body {
  background-color: #F8F8F8;
  font-size: 20px;
}

.container {
  padding: 40px;
  background-color: white;
}

.navbar {
  padding: 30px;
}

.navbar-brand {
  font-size: 52px;
}

.navbar-home {
  font-size: 30px;
  color: green;
}

.outlet {
  margin-left: 30px;
}

ul li {
  list-style-type: none;
  font-size: 22px;
  line-height: 40px;
}

p {
  font-size: 22px;
}
