<h1> Welcome to Question-and-Answer Board</h1>

<h3>List of Questions</h3>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>
